
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body{
   font-family: "Outfit", sans-serif;
   font-style: normal;
}
h1,
ul,
li, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.resuable-flex{
   display:flex;
  align-items:center;
  justify-content:center;
}

.container {
  max-width: 600px;
  height: auto;
  
  margin: 70px auto;
  border: 2px solid #EB5F05;
  
  flex-direction: column;
  
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-image: url("./todo.png");
  background-size: cover;
  background-repeat: no-repeat;

  background-position: 60% 20%;
  border-radius: 10px;
  padding: 0rem;
}

.weather-display{
  width:100%;
  height:70px;
  padding-inline:20px;
  position:relative;
 
  background:rgb(47, 3, 95);
  color:white;
  box-sizing:border-box;
  justify-content: space-between;
 
}
.add-shadow{
  display: flex;
  padding: 0.4rem;
  box-shadow:
  rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  flex-direction: column;
}
.temp-display{
 width:100px;
 height:50px;

 display:flex;
 align-items:center;
 
 

}

li {
  list-style: none;
}


.weather-music{
  color:white;
  text-decoration:none;
}


.btn {
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #1b1010;
  background: rgb(133, 133, 231);
  color:white;
  font-weight: 700;
  transition: 0.6s ease-out;
  text-transform: uppercase;
}

.btn:hover {
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 2px solid white;
}

.article-container {
  width: 100%;

 
  flex-direction: column;
  padding: 0.4rem;
 
}

input[type="text"] {
  padding: 0.3rem 0.4rem;
  width: 70%;
  padding-left: 1.6rem;
  font-size: small;
  border: 2px solid rgb(85, 196, 177);
}

input[type="text"]:focus {
  border-radius: 6px;
  background-color: #d1e5e7;
  letter-spacing: 1px;
  font-weight: 700;
}

.header-container {
 
 
  margin:20px auto;
  
 
  padding: 10px 10px;
  background: rgb(133, 133, 231);
  color:white;
  
  margin-bottom: 0.8rem;
  gap:8px;
  width:100%;
  
}

.input-add {
  width: 70%;
  display: flex;
  justify-content: center;
  padding: 1rem;

  gap: 1rem;
}

.display-items-container {
  display: flex;
  margin-top: 20px;
  width: 95%;
 
  margin: 20px auto;
}



ul {
  display: flex;
  background: white;
 
  width: 97%;
  padding: 0.5rem;
  margin: 2px auto;
}



.list-item-container {
  width: 90%;
 
 

  gap: 0.4rem;
}

.list-items {
  display: flex;
  width: 96%;
  border-bottom: 1px solid #cec2c2;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  padding-bottom: 1.3rem;
 
}

li.item {
  word-break: break-all;

  max-width: 70%;
  margin-right: 8px;
}
.list-items:last-child {
  border-bottom: none;
}

.item {
  font-size: 1.3rem;
}

.action-btn {
  margin-right: 0.3rem;
  display: flex;
  gap: 0.2rem;
}

.btn-edit {
  background: #ef5bde;
  color: white;
}

.btn-delete {
  background: #84073f;
  color: white;
}

@media screen and (max-width: 500px) {
  main.container {
    box-shadow: none;
    margin-top: 10px;
    padding: 1rem;
  }

  article.article-container {
    width: 100%;
    padding-bottom: .4rem;

  
  }
  
  header h1 {
    font-size: 1.6rem;
  }

  .btn {
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
  }

  .input-add {
    width: 90%;
  }

  .input-add input {
    padding: 0.6rem;
    font-size: 1rem;
  }

  .display-items-container {
    width: 100%;
  }
  ul {
    width: 100%;
  }
  li.item {
    font-size: 1rem;
    max-width: 50%;

    word-break: break-all;
  }
  .list-items {
    gap: 5px;
  }

  .action-btn {
    margin-right: 0rem;
    display: grid;
    grid-gap: 1rem;
  }
  
}
