h1,
ul,
li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  max-width: 600px;
  margin: 200px auto;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-image: url("./todo.png");
  background-size: cover;
  background-repeat: no-repeat;

  background-position: 60% 20%;
  border-radius: 10px;
  padding: 3rem;
}

li {
  list-style: none;
}

header {
  width: 98%;
position: relative;
  padding: 40px 30px;
  background:rgb(162, 243, 42);
  padding-bottom: 1rem;
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.btn {
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #1b1010;
  background: #5AE736;
  font-weight: 700;
  transition: 0.6s ease-out;
  text-transform: uppercase;
}

.btn:hover {
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 2px solid white;
}

.article-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  align-items: center;
}

input[type="text"] {
  padding: 0.3rem 0.4rem;
  width: 70%;
  padding-left: 1.6rem;
  font-size: small;
  border: 2px solid rgb(85, 196, 177);
}

input[type="text"]:focus {
  border-radius: 6px;
  background-color: #d1e5e7;
  letter-spacing: 1px;
  font-weight: 700;
}

.header-container{
    position: relative;
}

.time-container{
    background: #d2bfbf;
    
    position: absolute;
    top: 0;
    right: 0;
    color:rgb(11, 9, 9);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;

}

.input-add {
  width: 70%;
  display: flex;
  justify-content: center;
  padding: 1rem;

  gap: 1rem;
}

.display-items-container {
  display: flex;
  margin-top: 20px;
  width: 95%;

  margin: 20px auto;
}

ul {
  display: flex;
  background: #e7d6d6;
 
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 97%;
  padding: 0.5rem;
  margin: 2px auto;
}

.list-item-container {
  width: 80%;
  padding: 1rem;
  display: flex;

  flex-direction: column;
  gap: 1rem;
}

.list-items {
  display: flex;
  width: 96%;
  border-bottom: 1px solid #cec2c2;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  padding-bottom: 1.3rem;
}

.list-items:last-child {
  border-bottom: none;
}

.item {
  font-size: 1.3rem;
}

.action-btn {
  margin-right: 1rem;
}

.btn-edit {
  background: #ef5bde;
  color: white;
}

.btn-delete {
  background: #84073f;
  color: white;
}
